jupyter
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
statsmodels
plotly
plotly-express
torch
torchvision
torchaudio
transformers
datasets
nltk
openai
langchain
langchain-openai
langchain-community
langchain-core
imblearn
xgboost
tensorflow
lightgbm
openpyxl
xlrd
geopandas